# =====================
# VSCode / IDE
# =====================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# =====================
# Node / pnpm / npm
# =====================
node_modules/
pnpm-lock.yaml
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# Build / Output
# =====================
/client_packages/*
/bin
/dist
/.cache
*.tsbuildinfo

# =====================
# RAGE MP
# =====================
/BugTrap-x64.dll
/ragemp-server.exe
/maps/*
/packages/*
/plugins/*
/dotnet/*

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log